<!DOCTYPE html>
<html>
<head>
    <title>Restaurant Receipt</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .receipt {
            border: 1px solid #ccc;
            padding: 10px;
        }
        .header {
            text-align: center;
            font-size: 18px;
        }
        .item {
            margin-bottom: 5px;
        }
        .item-name, .item-type, .item-price {
          margin-bottom: 5px;
        }
    </style>
</head>
<body>
    <div class="receipt">
        <div class="header">Some Receipt</div>
        <div class="item">
          <div class="item-name">Order ID: {{ order_id }}</div>
          <div class="item-type">Type: {{ check.type }}</div>
          <div class="item-price">$15.00</div>
        </div>
    </div>
    <div>
      Printed by {{ check.printer.name }}
    </div>
</body>
</html>
