<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Create Checks</title>
</head>
<body>
    <h2>Create Checks</h2>
    <form method="post" action="{% url 'create-checks' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Generate Checks</button>
    </form>
    {% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
    {% endif %}
    {% if success_message %}
    <p style="color: green;">{{ success_message }}</p>
    {% endif %}
</body>
</html>
